body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    text-align: center;
    background-color: rgb(214, 248, 237);
    
}
header{
    font-size: 20rem;
    text-align: center;
    display: flexbox;
    background-color: rgb(119, 195, 197);
    color: rgb(252, 21, 167);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#gallery{
    
    width: 90%;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
  
   
}


#gallery img {
    display: flex;
    width:70rem;
    height:70rem;
    padding: 4rem;
    margin-top: 4rem;
   
   
}


footer {
    margin: -5;
    margin-top: -100px;
    padding: 0;
    background-color:  rgb(214, 248, 237);
    width: 100%;
    height:20rem;
  
 
    
}

p{
    padding-top: 5rem;
    font-size: 5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black
}